{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 关于 {% endblock %}

{% block inCSS %}
<style>
.jumbotron {
    background-color: #FFFFFF;
}
</style>
{% endblock %}

{% block mainarea %}
<div class="col-md-12">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>欢迎访问我的站点</h3>
          <hr />
          <p>关于我</p>
          <p>本人85后，从事 IT 运维工作，目前就职于XX视频公司。</p>
          <p>关注开源技术、Linux、网络技术、互联网动态，工作中使用Python、Bash。</p>
          <p>兴趣爱好广泛，音乐、电影、旅行、玩具收藏……。</p>
          <hr />
          <p>关于Airblog</p>
          <p>Airblog 是我学习Django框架的一个练习（日后通过不断的学习会慢慢完善），也作为我的个人博客使用，在这里我会记录我的工作，分享我的生活点滴。如果你有和我一样的生活态度、兴趣爱好，我们很可能通过这个平台从陌生到相识。我永远坚信，美好的事情即将发生。</p>
          <hr />
          <p>联系</p>
          <p>EMAIL : chenxiaochen86@hotmail.com</p>
          <p>当然也可以通过首页的边栏扫描微信二维码关注我。</p>
        </div>
        <div class="col-md-4">
          <img src="{% static "img/me.jpg" %}"  width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
