{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 关于 {% endblock %}

{% block inCSS %}
<style>
.jumbotron {
    background-color: #FFFFFF;
}
</style>
{% endblock %}

{% block mainarea %}
<div class="col-md-12">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>欢迎访问我的站点</h3>
          <hr />
          <p>关于我</p>
          <p>个人介绍，随意定义，通过修改项目中about.html模版</p>
          <p>个人介绍，随意定义，通过修改项目中about.html模版</p>
          <p>个人介绍，随意定义，通过修改项目中about.html模版</p>
          <hr />
          <p>个人介绍，随意定义，通过修改项目中about.html模版</p>
          <p>个人介绍，随意定义，通过修改项目中about.html模版</p>
          <hr />
          <p>联系</p>
          <p>EMAIL : 你的电子邮件地址，修改项目模版about.html</p>
          <p>通过修改项目中about.html模版</p>
        </div>
        <div class="col-md-4">
          <img src="{% static "img/me.jpg" %}"  alt="通过修改项目中about.html模版定义你的简历照片" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
